$red: #e00122;
$black: #000000;
$white: #ffffff;

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// Usage: @include transition(all .4s ease);

div#app-container {
    position: relative; // fixed;
    top: 96px;
    width: 100%;
    padding: 2.75rem 0rem;
    /* background-color: #1d2733; */
    overflow: visible;

    // background-image: url(https://www.alumni.uc.edu/image/home-full-width/MM-Geen-3.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    >div {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

p,
span,
a,
h1,
h2,
h3 {
    color: $white;
}

a {
    &:hover {
        text-decoration: none;
        color: rgba($white, 0.8);
    }

    &:focus,
    &:active {
        text-decoration: none;
    }
}

h4 {
    color: $red;
}

a {
    border-radius: 0 !important;
}

a,
p,
span,
button {
    font-family: 'Open Sans' !important;
}

h2 {
    font-family: 'Bree Serif';
}

.placeholder {
    font-weight: bold;
    color: $black;
}

// Button styles

button {

    &:focus,
    &:hover {
        text-decoration: none !important;
    }
}

a:focus,
.btn-primary:focus,
.btn-primary.focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-success {
    background-color: #4fc08d !important;

    &:hover {
        background-color: #3da978;
    }
}

.btn-success:hover {
    background-color: #3da978;
}


.modal-title,
.modal-body p {
    color: #000 !important;
}

.late {
    color: #dc3545;
}

form.custom-form {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

div#custom-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    div#navbarCollapse {
        width: 100%;
        position: fixed;
        top: 75px;
        left: 0;
        padding-left: 20px;
        padding-bottom: 5px;
        background-color: #373f46;
    }
}